.imagen-responsiva{
    width: 40%;
    height: auto;
    display: block;
    margin: auto;
}

.texto-centrado{
    text-align: center;
}

.btn-no-borde{
    padding: 0;
    border: none;
    background: none;

}

.header-padre{
    position: relative;
    display: block;
    padding: 0.7rem 1.25rem;
    text-align: left;
}

.header-hijo{
    display: block;
    padding: 0.7rem 0.7rem 0.6rem 2.25rem;
    margin-bottom: -15px;
}

.header-hijo-1{
    display: block;
    padding: 0.7rem 0.7rem 0.6rem 4.25rem;
    margin-bottom: -15px;
}

.header-hijo-2{
    display: block;
    padding: 0.7rem 0.7rem 0.6rem 6.25rem;
    margin-bottom: -15px;
}

.header-hijo-3{
    display: block;
    padding: 0.7rem 0.7rem 0.6rem 8.25rem;
    margin-bottom: -15px;
}

.header-hijo-4{
    display: block;
    padding: 0.7rem 0.7rem 0.6rem 10.25rem;
    margin-bottom: -15px;
}

.header-hijo-5{
    display: block;
    padding: 0.7rem 0.7rem 0.6rem 12.25rem;
    margin-bottom: -15px;
}

.header-hijo-6{
    display: block;
    padding: 0.7rem 0.7rem 0.6rem 14.25rem;
    margin-bottom: -15px;
}

.header-hijo-7{
    display: block;
    padding: 0.7rem 0.7rem 0.6rem 16.25rem;
    margin-bottom: -15px;
}

.header-hijo-8{
    display: block;
    padding: 0.7rem 0.7rem 0.6rem 18.25rem;
    margin-bottom: -15px;
}

.header-hijo-9{
    display: block;
    padding: 0.7rem 0.7rem 0.6rem 20.25rem;
    margin-bottom: -15px;
}

.ver{
    cursor: pointer;
}