#fondo{
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;

}

.login-caja{
    width: 400px;
    margin-top:7%;
    margin-left: 40%;
}

.ver{
    cursor: pointer;

}
letra-roja{
    color: red;
}

.letra-btn{
    cursor: pointer;
    color: white;
    text-align: center;
}

.logo{
    width: 60%;
    height: 100%;
    margin-bottom: 20px;
    margin-left: 20%;
}

.login-register {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    padding: 10% 0;
    position: fixed; }
  
  .login-box {
    width: 400px;
    margin: 0 auto; }
    .login-box .footer {
      width: 100%;
      left: 0px;
      right: 0px; }
    .login-box .social {
      display: block;
      margin-bottom: 30px; }
  
  #recoverform {
    display: none; }
  
  .login-sidebar {
    padding: 0px;
    margin-top: 0px; }
    .login-sidebar .login-box {
      right: 0px;
      position: absolute;
      height: 100%; }
  