                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Revisión Acompañamiento <button *ngIf="viewDepartamentos" type="button" class="btn btn-info btn-rounded ml-2" data-toggle="modal" data-target="#add-contact" (click)="getReporteGeneral()">Reporte de actividad</button></h3>
                        
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb" *ngIf="viewDepartamentos" >
                            <li class="breadcrumb-item"><a routerLink="/dashboard"><button class="btn btn-outline-info">Inicio</button></a></li>
                              <li class="breadcrumb-item "><button class="btn btn-outline-info active"><a>Procesos</a></button></li>
                        </ol>
                        <ol class="breadcrumb" *ngIf="viewRportes" >
                            <li class="breadcrumb-item"><a routerLink="/dashboard"><button class="btn btn-outline-info">Inicio</button></a></li>
                            <li class="breadcrumb-item "><button (click)="backDepartamentos()" class="btn btn-outline-info "><a>Procesos</a></button></li>
                              <li class="breadcrumb-item "><button class="btn btn-outline-info active"><a>Reporte</a></button></li>
                        </ol>
                        <ol class="breadcrumb" *ngIf="viewTabla" >
                            
                            <li class="breadcrumb-item"><a routerLink="/dashboard"><button class="btn btn-outline-info">Inicio</button></a></li>
                            <li class="breadcrumb-item "><button (click)="backDepartamentos()" class="btn btn-outline-info "><a>Procesos</a></button></li>
                            <li class="breadcrumb-item "><button class="btn btn-outline-info active"><a>Documentos</a></button></li>
                              
                        </ol>
                        <ol class="breadcrumb" *ngIf="viewPdf" >
                            
                            <li class="breadcrumb-item"><a routerLink="/dashboard"><button class="btn btn-outline-info">Inicio</button></a></li>
                            <li class="breadcrumb-item "><button (click)="backDepartamentos()" class="btn btn-outline-info"><a>Procesos</a></button></li>
                            <li class="breadcrumb-item "><button (click)="backTable()" class="btn btn-outline-info" ><a>Documentos</a></button></li>
                            
                            <li class="breadcrumb-item "><button class="btn btn-outline-info active"><a>PDF</a></button></li>
                              
                        </ol>
                    </div>
                    <div class="">
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->

                 <!-- ============================================================== -->

                        <!-- Row -->
                        <div class="row" *ngIf="viewDepartamentos" >
                            
                            <!-- column -->
                            <div *ngFor="let departamento of listProcesos" class="col-lg-3">
                                <!-- Card -->
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title texto-centrado">{{departamento.departamento}} <span class="label label-success">{{departamento.contador}}</span> <span *ngIf="departamento.estatus_proceso==0" class="label label-danger">Inactivo</span></h4>
                                        <img class="card-img-top imagen-responsiva" src="./assets/images/big/trabajar.png" alt="Card image cap">
                                        <div class="text-center mt-2"><a style="color: white ;" class="btn btn-primary" (click)="getSolicitudes(departamento)" >Consultar</a></div>
                                    </div>
                                </div>
                                <!-- Card -->
                            </div>
                            <!-- column -->
                            <!-- column -->
                        </div>
                        <!-- Row -->

            
                        <div class="col-sm-12" *ngIf="viewTabla">                     
                            
                            <div class="card" >
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="myTable" class="table table-bordered table-striped">
                                            <thead>
                                                <tr class="texto-centrado">
                                                    <th class="texto-centrado">No</th>                                                
                                                    <th class="texto-centrado">Autor</th>
                                                    <th class="texto-centrado">R. interno</th>                                                    
                                                    <th class="texto-centrado">R. externo</th>                                                    
                                                    <th class="texto-centrado">Proceso</th>
                                                    <th class="texto-centrado">Documento</th>                                                    
                                                    <th class="texto-centrado">R. interna</th>                              
                                                    <th class="texto-centrado">R. externa</th>                                                  
                                                    <th class="texto-centrado">Descarga </th>                                                                                                        
                                                    <th class="texto-centrado">Aprobación </th>
                                                    <th class="texto-centrado">Eliminar</th>
    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="texto-centrado" *ngFor="let solicitud of solicitudes  | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
                                                    <th class="texto-centrado">{{i+1}}</th>                                                
                                                    <th class="texto-centrado">{{solicitud.nom_autor}} {{solicitud.ape_autor}}</th>
                                                    <th class="texto-centrado">{{solicitud.nom_interno}} {{solicitud.ape_interno}} </th> 
                                                    <th class="texto-centrado">{{solicitud.nom_externo}} {{solicitud.ape_externo}} </th> 
                                                    <th class="texto-centrado">{{solicitud.nom_proceso}}</th>                                                     
                                                    <th class="texto-centrado">{{solicitud.solicita_nom}}</th>                                                    
                                                                                                                                                        
                                                    <th class="texto-centrado">
                                                        <span *ngIf="solicitud.revision_interna == 1" class="label label-warning">Proceso</span> 
                                                        <span *ngIf="solicitud.revision_interna == 2" class="label label-success">Revisado</span> 
                                                        <span *ngIf="solicitud.revision_interna == 3" class="label label-danger">Rechazado</span> 
                                                        <span *ngIf="solicitud.revision_interna == 4" class="label label-primary">Observación</span>
                                                    </th>
                                                    <th class="texto-centrado" >
                                                        <span *ngIf="solicitud.revision_externa == 1 && solicitud.revision_interna == 2 && solicitud.id_revisor_externo >1" class="label label-warning">Proceso</span> 
                                                        <span *ngIf="solicitud.revision_externa == 2 && solicitud.revision_interna == 2 && solicitud.id_revisor_externo >1" class="label label-success">Revisado</span> 
                                                        <span *ngIf="solicitud.revision_externa == 3 && solicitud.revision_interna == 2 && solicitud.id_revisor_externo >1" class="label label-danger">Rechazado</span> 
                                                        <span *ngIf="solicitud.revision_externa == 4 && solicitud.revision_interna == 2 && solicitud.id_revisor_externo >1" class="label label-primary">Observación</span>                                                        
                                                    </th>
                                                    <th class="texto-centrado">
                                                        <a style="color:  #398bf7 ;" class="ver ml-1" href="{{downPDF+solicitud.solicita_doc}}" ><i class="mdi mdi-file-document fa-lg" ></i></a>
                                                    </th>
                                                    <!---///////////Revision interna/////////-->
                                                    <th *ngIf="usuario.id_usuario == solicitud.id_revisor_interno" class="texto-centrado">
                                                      <div *ngIf="solicitud.revision_interna == 1">
                                                        <button type="button" class="btn btn-primary btn-circle btn-sm" data-toggle="modal" data-target="#Observacion_interna" (click)="extraerSolicitud(solicitud)"><i class="mdi mdi-message-alert"></i> </button>
                                                        <button type="button" class="btn btn-success btn-circle btn-sm mx-2" (click)="updateRevisarAprobadoInterno(solicitud)"><i class="mdi mdi-check "></i> </button>
                                                        <button type="button" class="btn btn-danger btn-circle btn-sm" data-toggle="modal" data-target="#Rechazo_interno" (click)="extraerSolicitud(solicitud)"><i class="mdi mdi-close"></i> </button>
                                                      </div>
                                                      <div *ngIf="solicitud.revision_interna > 2">
                                                        <button type="button" class="btn btn-primary btn-circle btn-sm" data-toggle="modal" data-target="#Observacion" (click)="getObservacion(solicitud)"><i class="mdi mdi-message-alert"></i> </button>
                                                      </div>
                                                    </th>
                                                    
                                                    <th  *ngIf="usuario.id_usuario == solicitud.id_revisor_interno" class="texto-centrado">
                                                        <button *ngIf="solicitud.revision_interna > 2" type="button" class="btn btn-danger btn-circle btn-sm" data-toggle="modal" data-target="#eliminar" (click)="extraerSolicitud(solicitud)"><i class="mdi mdi-delete"></i> </button>
                                                    </th>
                                                    <!---///////////Revision interna/////////-->
                                                    <!---///////////Revision Externa/////////-->
                                                    <th *ngIf="usuario.id_usuario == solicitud.id_revisor_externo && solicitud.revision_interna == 2" class="texto-centrado">
                                                        <div *ngIf="solicitud.revision_externa == 1">
                                                            <button type="button" class="btn btn-primary btn-circle btn-sm" data-toggle="modal" data-target="#Observacion_externa" (click)="extraerSolicitud(solicitud)"><i class="mdi mdi-message-alert"></i> </button>
                                                            <button type="button" class="btn btn-success btn-circle btn-sm mx-2" (click)="updateRevisarAprobadoExterno(solicitud)"><i class="mdi mdi-check "></i> </button>
                                                            <button type="button" class="btn btn-danger btn-circle btn-sm" data-toggle="modal" data-target="#Rechazo_externa" (click)="extraerSolicitud(solicitud)"><i class="mdi mdi-close"></i> </button>
                                                        </div>
                                                        <div *ngIf="solicitud.revision_externa > 2">
                                                            <button type="button" class="btn btn-primary btn-circle btn-sm" data-toggle="modal" data-target="#Observacion" (click)="getObservacion(solicitud)"><i class="mdi mdi-message-alert"></i> </button>
                                                        </div>
                                                    </th>
                                                        
                                                        <th *ngIf="usuario.id_usuario == solicitud.id_revisor_externo" class="texto-centrado">
                                                            <button *ngIf="solicitud.revision_externa > 2" type="button" class="btn btn-danger btn-circle btn-sm" data-toggle="modal" data-target="#eliminar" (click)="extraerSolicitud(solicitud)"><i class="mdi mdi-delete"></i> </button>
                                                        </th>
                                                        <!---///////////Revision Externa/////////-->
                                                </tr>
    
                                            </tbody>
                                        </table>
                                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--////////Reporte de actualizacion ////////-->
                        <div *ngIf="viewRportes" class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="table-responsive">
                                        <button *ngIf="usuarioLog.reporte_acompanamiento==1" type="button" class="btn btn-primary" (click)="exporter1.exportTable('csv')"> <i class="mdi mdi-arrow-down"></i> Excel</button>
                                            <table mat-table matTableExporter [dataSource]="reporte"  id="myTable" class="table table-bordered table-striped" #exporter1="matTableExporter">
                                               <tbody>
                                                 <!-- User name Definition -->
                                                 <ng-container matColumnDef="index">
                                                    <th class="texto-centrado"  *matHeaderCellDef>No</th>
                                                    <td class="texto-centrado" *matCellDef="let element; let i = index"> {{i+1}} </td>
                                                </ng-container>

                                                <!-- UserDefinition -->
                                                <ng-container matColumnDef="nom_autor">
                                                    <th class="texto-centrado"  *matHeaderCellDef>Autor </th>
                                                    <tr>
                                                        <td class="texto-centrado" *matCellDef="let element"> {{element.nom_autor}} {{element.ape_autor}} </td>
                                                    </tr>
                                                </ng-container>


                                                <!-- UserDefinition -->
                                                <ng-container matColumnDef="nom_interno">
                                                    <th class="texto-centrado"  *matHeaderCellDef>R. interno </th>
                                                    <td class="texto-centrado" *matCellDef="let element">{{element.nom_interno}} {{element.ape_interno}} </td>
                                                </ng-container>

                                                <!-- UserDefinition -->
                                                <ng-container matColumnDef="nom_externo">
                                                    <th class="texto-centrado"  *matHeaderCellDef>R. externo </th>
                                                    <td class="texto-centrado" *matCellDef="let element"> {{element.nom_externo}} {{element.ape_externo}} </td>
                                                </ng-container>
                                        
                                                <!-- UserDefinition -->
                                                <ng-container matColumnDef="nom_proceso">
                                                    <th class="texto-centrado"  *matHeaderCellDef>Proceso </th>
                                                    <td class="texto-centrado" *matCellDef="let element"> {{element.nom_proceso}} </td>
                                                    </ng-container>

                                                <!-- UserDefinition -->
                                                <ng-container matColumnDef="solicita_nom">
                                                    <th class="texto-centrado"  *matHeaderCellDef>Documento </th>
                                                    <td class="texto-centrado" *matCellDef="let element"> {{element.solicita_nom}} </td>
                                                </ng-container>

                                                <!-- UserDefinition -->
                                                <ng-container matColumnDef="revision_interna">
                                                    <th class="texto-centrado"  *matHeaderCellDef>R. interna </th>
                                                    <td class="texto-centrado" *matCellDef="let element"> 
                                                        <span *ngIf="element.revision_interna == 1" class="label label-warning">Proceso</span> 
                                                        <span *ngIf="element.revision_interna == 2" class="label label-success">Revisado</span> 
                                                        <span *ngIf="element.revision_interna == 3" class="label label-danger">Rechazado</span> 
                                                        <span *ngIf="element.revision_interna == 4" class="label label-primary">Observación</span>
                                                    </td>
                                                </ng-container>

                                                <!-- UserDefinition -->
                                                <ng-container matColumnDef="revision_externa">
                                                    <th class="texto-centrado"  *matHeaderCellDef>R. externa </th>
                                                    <td class="texto-centrado" *matCellDef="let element"> 
                                                        <span *ngIf="element.revision_externa == 1 && element.revision_interna == 2 && element.id_revisor_externo >1" class="label label-warning">Proceso</span> 
                                                        <span *ngIf="element.revision_externa == 2 && element.revision_interna == 2 && element.id_revisor_externo >1" class="label label-success">Revisado</span> 
                                                        <span *ngIf="element.revision_externa == 3 && element.revision_interna == 2 && element.id_revisor_externo >1" class="label label-danger">Rechazado</span> 
                                                        <span *ngIf="element.revision_externa == 4 && element.revision_interna == 2 && element.id_revisor_externo >1" class="label label-primary">Observación</span>
                                                    </td>
                                                </ng-container>

                                                <!-- UserDefinition -->
                                                <ng-container matColumnDef="solicita_doc">
                                                    <th class="texto-centrado"  *matHeaderCellDef>Descarga </th>
                                                    <td class="texto-centrado" *matCellDef="let element"> 
                                                        <a style="color: #398bf7 ;" class="ver ml-1" href="{{downPDF+element.solicita_doc}}" ><i class="mdi mdi-file-document fa-lg" ></i></a>    
                                                    </td>
                                                </ng-container>

                                                                                            <!-- UserDefinition -->
                                                <ng-container matColumnDef="fecha">
                                                    <th class="texto-centrado"  *matHeaderCellDef>Ultima actualización </th>
                                                    <td class="texto-centrado" *matCellDef="let element"> 
                                                        {{element.fecha |  date:'medium'}}
                                                    </td>
                                                </ng-container>
                                            


                                                <tr mat-header-row *matHeaderRowDef="reporteColums"></tr>
                                                <tr mat-row *matRowDef="let row; columns: reporteColums;"></tr>
                                               </tbody>
                                            </table>
                                        </div>  
                                        
                                        </div>
                                    
                                </div>
                            </div>

                        </div>
                        <!--////////Reporte de actualizacion ////////-->

                         <!--////////Reporte de general ////////-->
                         <div *ngIf="viewRportes" class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body">

                                        <button *ngIf="usuarioLog.reporte_acompanamiento==1" type="button" class="btn btn-primary" (click)="exporter.exportTable('csv')"><i class="mdi mdi-arrow-down"></i>Excel</button>
                                        <table mat-table matTableExporter [dataSource]="dataSource" class="mat-elevation-z8" #exporter="matTableExporter">

                                            <!--- Note that these columns can be defined in any order.
                                                  The actual rendered columns are set as a property on the row definition" -->

                                            <!-- Position Column -->
                                            <ng-container matColumnDef="index">
                                                <th class="texto-centrado" mat-header-cell *matHeaderCellDef>No </th>
                                                <td class="texto-centrado" mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
                                              </ng-container>
                                            <!-- Position Column -->
                                            <ng-container matColumnDef="departamento">
                                                <th class="texto-centrado" mat-header-cell *matHeaderCellDef>Proceso </th>
                                                <td class="texto-centrado" mat-cell *matCellDef="let element"> {{element.departamento}} </td>
                                              </ng-container>
                                            <!-- Position Column -->
                                            <ng-container matColumnDef="reg">
                                                <th class="texto-centrado" mat-header-cell *matHeaderCellDef>Total registros </th>
                                                <td class="texto-centrado" mat-cell *matCellDef="let element"> {{element.reg}} </td>
                                              </ng-container>
                                             <!-- Position Column -->
                                            <ng-container matColumnDef="revinter0">
                                                <th class="texto-centrado" mat-header-cell *matHeaderCellDef>R. I.(Proceso) </th>
                                                <td class="texto-centrado" mat-cell *matCellDef="let element"><span class="label label-warning">{{element.revinter0}}</span> </td>
                                              </ng-container>
                                            <!-- Position Column -->
                                            <ng-container matColumnDef="revinter1">
                                                <th class="texto-centrado" mat-header-cell *matHeaderCellDef>R. I.(Revisado) </th>
                                                <td class="texto-centrado" mat-cell *matCellDef="let element"><span class="label label-success">{{element.revinter1}}</span> </td>
                                              </ng-container>
                                            <!-- Position Column -->
                                            <ng-container matColumnDef="revinter2">
                                                <th class="texto-centrado" mat-header-cell *matHeaderCellDef>R. I.(Rechazado) </th>
                                                <td class="texto-centrado" mat-cell *matCellDef="let element"><span class="label label-danger">{{element.revinter2}}</span> </td>
                                              </ng-container>
                                            <!-- Position Column -->
                                            <ng-container matColumnDef="revinter3">
                                                <th class="texto-centrado" mat-header-cell *matHeaderCellDef>R. I.(Observación) </th>
                                                <td class="texto-centrado" mat-cell *matCellDef="let element"><span class="label label-primary">{{element.revinter3}}</span> </td>
                                              </ng-container>
                                            <!-- Position Column -->
                                            <ng-container matColumnDef="revexter0">
                                                <th class="texto-centrado" mat-header-cell *matHeaderCellDef>R. E.(Proceso) </th>
                                                <td class="texto-centrado" mat-cell *matCellDef="let element"><span class="label label-warning">{{element.revexter0}}</span> </td>
                                              </ng-container>
                                            
                                              <!-- Position Column -->
                                            <ng-container matColumnDef="revexter1">
                                                <th class="texto-centrado" mat-header-cell *matHeaderCellDef>R. E.(Revisado) </th>
                                                <td class="texto-centrado" mat-cell *matCellDef="let element"><span class="label label-success">{{element.revexter1}}</span> </td>
                                              </ng-container>
                                            
                                              <!-- Position Column -->
                                            <ng-container matColumnDef="revexter2">
                                                <th class="texto-centrado" mat-header-cell *matHeaderCellDef>R. E.(Rechazado) </th>
                                                <td class="texto-centrado" mat-cell *matCellDef="let element"><span class="label label-danger">{{element.revexter2}}</span></td>
                                              </ng-container>
                                            
                                              <!-- Position Column -->
                                            <ng-container matColumnDef="revexter3">
                                                <th class="texto-centrado" mat-header-cell *matHeaderCellDef>R. E.(Observación) </th>
                                                <td class="texto-centrado" mat-cell *matCellDef="let element"><span class="label label-primary">{{element.revexter3}}</span> </td>
                                              </ng-container>
                                
                                          
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                          </table>
                                        </div>
                                    
                                </div>
                            </div>

                        </div>
                        <!--////////Reporte de general ////////-->

                        <div *ngIf="usuarioLog.reporte_acompanamiento==1"  class="row">
                            <div class="col-sm-12" *ngIf="viewRportes">
                                <div class="card">
                                    <div class="card-body" >
                                        
                                        <form name="formGrafica" [formGroup]="formGrafica">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Seleccione proceso:</label>
                                                        <select class="form-control " data-placeholder="Choose a Category" id="proceso" formControlName="proceso" required>
                                                            
                                                            <option *ngFor="let catTipoUduario of reporteGeneral " [value]="catTipoUduario.id_proceso" >
                                                                {{catTipoUduario.departamento}}
                                                            </option>
                                                        </select>
                                                    </div>

                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label">Mostrar grafica:</label><br>
                                                                        <button type="button" class="btn btn-primary" (click)="generaDataProcesoGrafica()"><i class="mdi mdi-chart-histogram"></i></button>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label">Todos los procesos:</label><br>
                                                                        <button type="button" class="btn btn-primary" (click)="mostrarGraficasProcesos()"><i class="mdi mdi-chart-histogram"></i></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <ngx-charts-bar-vertical-2d 
                                                [view]="view"
                                                [scheme]="colorScheme"
                                                [results]="multi1"
                                                [gradient]="gradient"
                                                [xAxis]="showXAxis"
                                                [yAxis]="showYAxis"
                                                [legend]="showLegend"
                                                [showDataLabel] ="showDataLabel"
                                                [showXAxisLabel]="showXAxisLabel"
                                                [showYAxisLabel]="showYAxisLabel"
                                                [xAxisLabel]="xAxisLabel"
                                                [yAxisLabel]="yAxisLabel"
                                                
                                                (select)="onSelect($event)"
                                                (activate)="onActivate($event)"
                                                (deactivate)="onDeactivate($event)"
                                                 *ngIf="grafica1">
                                              </ngx-charts-bar-vertical-2d>
                                         
                                        </div>

                                        <div class="row" *ngIf="verGraficas">

                                          <ngx-charts-bar-horizontal-2d
                                          [view]="view1"
                                          [scheme]="colorScheme"
                                          [results]="multi"
                                          [gradient]="gradient"
                                          [xAxis]="showXAxis"
                                          [yAxis]="showYAxis"
                                          [legend]="showLegend"
                                          [showDataLabel] ="showDataLabel"
                                          [showXAxisLabel]="showXAxisLabel"
                                          [showYAxisLabel]="showYAxisLabel"
                                          [xAxisLabel]="xAxisLabel"
                                          [yAxisLabel]="yAxisLabel"
                                          (select)="onSelect($event)"
                                          (activate)="onActivate($event)"
                                          (deactivate)="onDeactivate($event)"
                                          *ngIf="grafica">
                                        </ngx-charts-bar-horizontal-2d>

                                            
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                         <!-- Sales overview chart -->
                         <div class="col-md-12"  *ngIf="viewPdf" >
                                 
                            <pdf-viewer  [src]="pdfSrc"
                            [render-text]="true"
                            [original-size]="false"
                            style="width: 100%; height: 100vh"
                          ></pdf-viewer>
                        </div>
                    <!-- ============================================================== -->
                    <!-- ==============================REVISION INTERNA=============================== -->

                    <div id="Observacion_interna" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="myLargeModalLabel">Mandar Observación </h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">                                

                                    <form name="formObservacion" [formGroup]="formObservacion" >
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label">Observación:</label>
                                                    
                                                    <textarea class="form-control" rows="6" id="observacion" formControlName="observacion"></textarea>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </form>         
                                    
                                    
                                </div>
                                <div class="modal-footer">
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success" data-dismiss="modal" [disabled]="formObservacion.invalid" (click)="addObservacion_interna()"><i class="fa fa-check"></i> Enviar</button>
                                        <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Cerrar</button>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>

                    <div id="Rechazo_interno" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="myLargeModalLabel">Rechazar </h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body"> 
                                    <form name="formObservacion1" [formGroup]="formObservacion1" >
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label">Observación de rechazo:</label>
                                                    
                                                    <textarea class="form-control" rows="6" id="observacion" formControlName="observacion"></textarea>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </form>                               
                                    
                                </div>
                                <div class="modal-footer">
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-danger" data-dismiss="modal" [disabled]="formObservacion1.invalid" (click)="addObservacionRechazo()"><i class="fa fa-check"></i> Rechazar</button>
                                        <button type="button" class="btn btn-info waves-effect text-left" data-dismiss="modal">Cerrar</button>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- ==============================REVISION INTERNA=============================== -->

                    <!-- ==============================REVISION EXTERNA=============================== -->

                    <div id="Observacion_externa" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="myLargeModalLabel">Mandar Observación </h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">                                

                                    <form name="formObservacion" [formGroup]="formObservacion" >
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label">Observación:</label>
                                                    
                                                    <textarea class="form-control" rows="6" id="observacion" formControlName="observacion"></textarea>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </form>         
                                    
                                    
                                </div>
                                <div class="modal-footer">
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success" data-dismiss="modal" [disabled]="formObservacion.invalid" (click)="addObservacion_externa()"><i class="fa fa-check"></i> Enviar</button>
                                        <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Cerrar</button>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>

                    <div id="Rechazo_externa" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="myLargeModalLabel">Rechazar </h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body"> 
                                    <form name="formObservacion1" [formGroup]="formObservacion1" >
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label">Observación de rechazo:</label>
                                                    
                                                    <textarea class="form-control" rows="6" id="observacion" formControlName="observacion"></textarea>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </form>                               
                                    
                                </div>
                                <div class="modal-footer">
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-danger" data-dismiss="modal" [disabled]="formObservacion1.invalid" (click)="addObservacionRechazo_externo()"><i class="fa fa-check"></i> Rechazar</button>
                                        <button type="button" class="btn btn-info waves-effect text-left" data-dismiss="modal">Cerrar</button>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- ==============================REVISION EXTERNA=============================== -->



                    <div id="Observacion" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="myLargeModalLabel">Observación </h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body"> 
                                    
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label">Observación:</label>
                                                    
                                                    <textarea class="form-control" rows="6" id="observacion" [(ngModel)]="observacion" [disabled]="true"></textarea>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                    
                                    
                                </div>
                                <div class="modal-footer">
                                    <div class="form-actions">
                                        
                                        <button type="button" class="btn btn-info waves-effect text-left" data-dismiss="modal">Cerrar</button>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>

                    <div id="eliminar" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="myLargeModalLabel">Eliminar solicitud </h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body"> 
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">

                                                    <p>Esta seguro de eliminar la solicitud ?</p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="sendSolicitud()"> <i class="fa fa-check" ></i> Eliminar</button>
                                        <button type="button" class="btn btn-info waves-effect text-left" data-dismiss="modal">Cerrar</button>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
